<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <style>
        header{
            display: flex;
            background: red;
            color: aqua;
            justify-content: space-evenly;
        }
    </style>
    <header>
    <h1>Hello</h1>
    {% if list %}
    {% for i in list %}
    <h3>{{ i.name }}</h3>
    {% endfor %}
    {% else %}
    <h3>Hello</h3>
    <h3>Hello</h3>
    <h3>Hello</h3>
    <h3>Hello</h3>
    {% endif %}
    <a href="{% url 'list' %}">list</a>
    </header>
</body>
</html>