<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% if list %}

    {% else %}
    <a href="{% url 'create' %}"><button>Создать</button></a>
    {% endif %}
    {% for i in list %}
    <h3>{{ i.name }}</h3>
    <a href="{% url 'update' i.id %}">изменить</a>
    <a href="{% url 'delete' i.id %}">Удалить</a>

    {% endfor %}

    <a href="{% url 'index' %}"><button>Назад</button></a>
</body>
</html>